/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
#menubalk {
background-color:#F08E43;
width: 70%;
Height: 100px;
font-size: 24px;
font-family:Arial;}
 #logo {
width:30%;
Height:100px;}
#tekst {
background-color:#F0B92B;
width: 30%;
height: 600px;
font-size:14px;
font-family:Arial;}
#foto {
width: 70%;
height: 600px;}
#teksten {
background-color: #F0B92B;  
width: 100%;
height: 200px;
font-size:14px;
font-family:Arial;}
#contact {
background-color: #f06839;
width: 100%;
height: 100px;
font-size:14px;
font-family:Arial;
color: #F0D443;}

